.container {
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: start;
}